<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Услуги</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
    >
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="fonts-variables.css">
</head>
<body>
<header class="header">
    <div class="header__top-bar-wrapper">
        <div class="h-100 top-bar__container d-flex flex-row justify-content-between align-items-center container">
            <div>
                <p class="fz-14 montserrat-text m-0">
                    <img src="media/icon/location.svg" alt="location" class="mr-2">г.Томск, ул. Бела Куна 14, кв. 79
                </p>
            </div>
            <div>
                <a href="tel:+79536664112" class="mr-5 fz-14 montserrat-text">
                    <img src="media/icon/phone.svg" alt="tel" class="mr-2">+7 953 666 41 12
                </a>
                <a href="mailto:carwash@gmail.com" class="fz-14 montserrat-text">
                    <img src="media/icon/message.svg" alt="mail" class="mr-2">carwash@gmail.com
                </a>
            </div>
        </div>
    </div>
    <div class="header__navigation-wrapper">
        <div class="h-100 navigation__container container d-flex flex-row justify-content-between align-items-center container">
            <div class="navigation__logotype d-flex flex-row align-items-center">
                <nav class="logotype__social-links mr-3">
                    <a href="#" class="m-0"><img src="media/icon/social/vk.svg" alt="vk"></a>
                    <a href="#"><img src="media/icon/social/youtube.svg" alt="youtube"></a>
                    <a href="#"><img src="media/icon/social/instagram.svg" alt="inst"></a>
                </nav>
                <a href="#" class="fz-20 fw-medium montserrat-text mb-1">namelogo</a>
            </div>
            <div class="navigation__pages">
                <nav class="montserrat-text pages__links d-flex flex-row justify-content-between">
                    <a href="#" class="fz-14 fw-semi-bold">О НАС</a>
                    <a href="#" class="fz-14 fw-semi-bold">УСЛУГИ</a>
                    <a href="#" class="fz-14 fw-semi-bold">ЦЕНЫ</a>
                    <a href="#" class="fz-14 fw-semi-bold">ГАЛЕРЕЯ</a>
                    <a href="#" class="fz-14 fw-semi-bold">КОНТАКТЫ</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="montserrat-text service container">
        <div class="service__text mt-5 pt-5 mb-5 pb-5">
            <h5 class="fw-regular fz-33 mb-5">Услуги нашей <b>автомойки:</b></h5>
            <p class="fz-24">Наша автомойка предоставляет широкий спектр услуг, для разных автомобилей.
                И еще что-то наверное, предоставляет. Я кстати гуглила как пишется слово, предоставляет,
                вроде правильно, но у меня ощущение, что нет.
            </p>
        </div>
        <div class="service__service-card d-flex flex-column">
            <div class="d-flex flex-row justify-content-between mb-5 pb-5">
                <div class="service-card__item">
                    <img src="media/img/services/first.png" alt="first service">
                    <div class="ml-3 montserrat-text fw-medium fz-18 mt-3">
                        <a href="#">Трехфазная мойка</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/second.png" alt="second service">
                    <div class="ml-3 montserrat-text fw-medium fz-18 mt-3">
                        <a href="#">Полировка кузова</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/third.png" alt="third service">
                    <div class="ml-3 montserrat-text fw-medium fz-18 mt-3">
                        <a href="#">Комплексная мойка</a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-5 pb-5">
                <div class="service-card__item">
                    <img src="media/img/services/fourth.png" alt="fourth service">
                    <div class="ml-3 montserrat-text fw-medium fz-18 mt-3">
                        <a href="#">Химчистка салона</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/fifth.png" alt="fifth service">
                    <div class="ml-3 montserrat-text fw-medium fz-14 mt-3">
                        <a href="#">Абразивная полировка ЛКП автомобиля</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/sixth.png" alt="sixth service">
                    <div class="ml-3 montserrat-text fw-medium fz-14 mt-3">
                        <a href="#">Защитная полировка ЛКП автомобиля</a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="service-card__item">
                    <img src="media/img/services/seventh.png" alt="seventh service">
                    <div class="ml-3 montserrat-text fw-medium fz-18 mt-3">
                        <a href="#">Трехфазная мойка</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/eighth.png" alt="eighth service">
                    <div class="ml-3 montserrat-text fw-medium fz-14 mt-3">
                        <a href="#">Полировка кузова</a>
                    </div>
                </div>
                <div class="service-card__item">
                    <img src="media/img/services/ninth.png" alt="ninth service">
                    <div class="ml-3 montserrat-text fw-medium fz-14 mt-3">
                        <a href="#">Комплексная мойка</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="w-100 container d-flex flex-row justify-content-between mb-5 pb-5">
        <div class="footer__location">
            <div class="d-flex flex-row align-items-center mb-5">
                <div class="logotype"></div>
                <div class="d-flex flex-column ml-3">
                    <p class="mb-1 montserrat-text fz-14">Лучшая автомойка в Томске и Томской области!</p>
                    <p class="mb-0 montserrat-text fz-14 fw-bold">namelogo</p>
                </div>
            </div>
            <p class="mb-4 montserrat-text fz-14"><img src="media/icon/clock.svg" alt="clock" class="mr-1"> Мы работаем
                с 9:00 до 22:00</p>
            <p class="montserrat-text fz-14"><img src="media/icon/location.svg" alt="location"> г.Томск, ул. Бела Куна
                14, кв. 79</p>
        </div>
        <div class="footer__navigation d-flex flex-column justify-content-between">
            <a href="#" class="fz-18 montserrat-text">О НАС</a>
            <a href="#" class="fz-18 montserrat-text">УСЛУГИ</a>
            <a href="#" class="fz-18 montserrat-text">ЦЕНЫ</a>
            <a href="#" class="fz-18 montserrat-text">ГАЛЕРЕЯ</a>
            <a href="#" class="fz-18 montserrat-text">КОНТАКТЫ</a>
        </div>
        <div class="footer__contact-information d-flex flex-column">
            <div class="d-flex flex-column mb-5">
                <p class="mb-0 montserrat-text fz-14 text-right">Наши социальные сети:</p>
                <div class="d-flex flex-row align-self-end justify-content-around align-items-center w-75">
                    <a href="#"><img src="media/icon/social/vk.svg" alt="vk"></a>
                    <a href="#"><img src="media/icon/social/youtube.svg" alt="youtube"></a>
                    <a href="#"><img src="media/icon/social/instagram.svg" alt="instagram" class="mr-0"></a>
                </div>
            </div>
            <div>
                <p class="montserrat-text fz-18 mr-0 text-right"><img src="media/icon/phone.svg" alt="phone"
                                                                      class="mr-3"> +7 953 666 41 12</p>
                <p class="montserrat-text fz-18 text-right"><img src="media/icon/message.svg" alt="message"
                                                                 class="mr-2"> carwash@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-between pt-5 mb-5 pb-5">
        <p>Копирование данных и бла-бла-бла запрещено, копировантие данных влечет за собой какую-нибудь
            ответственность.</p>
        <p>Разработка сайта <b>«Tea»</b></p>
    </div>
    <p class="text-center">© 2014 - 2020 ООО "namelogo".</p>
</footer>
</body>
</html>